.eventDetailView {
  .eventHeader {
    img {
      filter: brightness(30%);
    }

    .imageText {
      position: absolute;
      bottom: 5%;
      left: 5%;
      width: 100%;
      height: auto;
      color: white;
    }
  }
}

.dashboard {
  &.ui.grid {
    @media screen and (max-width: 768px) {
      flex-direction: column-reverse; // row-reverse is not working :/
    }
  }

  .ui.segments {
    .ui.segment {
      &.clearing {
        .button {
          margin-top: 1rem;
        }
      }
    }
  }
}
